body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.content{
    background: dodgerblue; /* Цвет фона */

}
.form {
    width: 25%; /* Ширина элемента в пикселах */
    padding: 2%; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0; /* Цвет фона */

}
.form-row{
    width: 100%;
    margin: 1%;
    padding:auto;

}
.form-input-submit{
    width: 33.3%;
    margin-left: 33.3%;

}
.form-input-text{
    width: 100%;
    margin: auto;
}

.invalid {
    border: solid 2px red;
}
.pass_hint_none{
    display: none;
}
.pass_hint_visible{
    display: block;
    font: 10px "Century Gothic", Futura, sans-serif;
    color: red;
    margin-top:1% ;
}